<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>TwitEtiquette</title>
    <meta name="description" content="How good of a netizen are you!">
    <meta name="author" content="group 25">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>

<body>
    <header class="text-gray-500 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
                <!-- <a class="mr-5 hover:text-white">Encrypt</a>
            <a class="mr-5 hover:text-white">Decrypt</a> -->
                <a class="mr-5 hover:text-white" href='home.html'>Home</a>
                <a class="mr-5 hover:text-white" href='contact.html'>Team</a>
                <a class="mr-5 hover:text-white" href='readme.html'>Documentation</a>
            </nav>
            <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl xl:block lg:hidden">TwitEtiquette</span>
            </a>
            <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
            </div>
        </div>
    </header>
    <section class="text-gray-400 body-font bg-gray-900">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-s text-blue-400 tracking-widest font-medium title-font mb-1">Project Description</h2>
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">TwitEtiquette</h1>
                <h3 class="sm:text-2xl text-2xl font-medium title-font mb-4 text-white">Following are the features that we define in order to determine whether a user is a good netizen or not!</h3>
            </div>
            <div class="flex flex-wrap">
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Spamming</h2>
                    <p class="leading-relaxed text-base mb-4">User posts too many tweets</p>
                    <a href="https://en.wikipedia.org/wiki/Spamming" class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Average Time Interval</h2>
                    <p class="leading-relaxed text-base mb-4">Average Time interval between consecutive tweets</p>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Response Time Interval</h2>
                    <p class="leading-relaxed text-base mb-4">Average time taken by the user to respond to tweets</p>
                    <a href="https://help.twitter.com/en/using-twitter/twitter-conversations" class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2"># of Hashtags</h2>
                    <p class="leading-relaxed text-base mb-4">Average number of hashtags used in tweets</p>
                    <a href="https://help.twitter.com/en/using-twitter/how-to-use-hashtags" class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            <div class="flex flex-wrap">
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Capital Letters</h2>
                    <p class="leading-relaxed text-base mb-4">Percentage of use of capital letters used in tweets</p>
                    <a href="https://honeypotmarketing.com/twitter-hashtag-tactics/" class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Tweet Length</h2>
                    <p class="leading-relaxed text-base mb-4">Percentage of tweets having length greater than 120 and average tweet length</p>
                    <a href="https://www.prnewsonline.com/whats-the-ideal-length-of-a-tweet/" class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">CyberBullying</h2>
                    <p class="leading-relaxed text-base mb-4">Use of directed profane language in posted and liked tweets</p>
                    <a href="https://en.wikipedia.org/wiki/Cyberbullying" class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
                <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
                    <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Hate Speech</h2>
                    <p class="leading-relaxed text-base mb-4">Use of abusing and hate speech in posted and liked tweets</p>
                    <a href="https://en.wikipedia.org/wiki/Hate_speech#:~:text=Hate%20speech%20is%20defined%20by,sex%2C%20or%20sexual%20orientation%22." class="text-blue-400 inline-flex items-center">Learn More
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        
    </section>
    
    <footer class="text-gray-500 bg-gray-900 body-font">
        <div class="flex flex-col text-center w-full">
                <h2 class="text-s text-blue-400 tracking-widest font-medium title-font mb-1">Note: Multiple ML Models are used to determine the score. Models have an average accuracy of 94.5%</h2>

            </div>
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">TwitEtiquette</span>
            </a>
            <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">CSE-648 PSOSM
                <!-- <a href="https://twitter.com/knyttneve" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@knyttneve</a> -->
            </p>

        </div>
    </footer>
</body>

</html>
